.header-align-center {
  margin: auto;
  text-align: center;
  max-height: 180px;
  margin-bottom: 80px;
}

.bottom-80 {
  margin-bottom: 80px;
}

.center {
  text-align: center;
}

.header-align-center h1 {
  font-size: 70px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.title-center {
  font-weight: 900;
}

.description-center h4 {
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: var(--color-font);
  font-weight: 1;
  letter-spacing: 2px;
}

.avantages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  text-align: center;
  margin-bottom: 125px;
}

h5 {
  font-weight: bold;
}

.avantage {
  background-color: #F3F3F3;
}

.avantage img {
  height: 206px;
  width: 140px;
}

hr {
    border: none;
    opacity: 20%;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.title-projets-home-center {
  text-align: center;
  margin: 60px;
}

.card-projet-home {
  text-align: center;
  max-width: 409px;
  padding-left: 30px;
}

.projets-home-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.description-projet-homepage {
  text-align: justify;
}

.description-projet-homepage h2 {
  display: inline-block;
  margin-bottom: 0px;
  border-bottom: 2px solid #e2aa50;
  border-bottom-style: ridge;
}

.description-projet-homepage h2:hover {
  border-bottom: none;
}

.logo {
  padding-top: 45px;
  padding-bottom: 45px;
  border-top: 1px solid #F3F3F3;
}

.logo-vidag img {
  background-color: none;
  width: 100%;
}

.logo img {
  width: 100%;
}

.projets-home-page {
  padding: 15px;
  background-color: #F3F3F3;
  flex-basis: contain;
  max-width: 100%;
  margin-left: 40px;
}

.projets-home-page img {
  max-width: 100%;
}

#logo-le-pere-brouette {
  padding-top: 45px;
  padding-bottom: 45px;
}

#logo-le-pere-brouette img {
  width: 80%;
}

.responsive-bar {
  color: white;
}

@media screen and (max-width: 768px) {
  .avantages {
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }

  .avantage {
    margin-bottom: 40px;
  }

  .header-show {
    margin-top: -20px;
  }

  .bottom-80 {
    margin-bottom: 20px;
  }

  .projets-home-cards {
    display: block;
    border-bottom: 1px solid #F3F3F3;
    padding-bottom: 25px;
    margin-bottom: 15px;
  }

  .card-projet-home {
    padding-left: 0px;
    max-width: 100%;
  }

  .card-projet-home .logo {
    max-width: 409px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .card-projet-home .logo-vidag {
    max-width: 409px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .card-projet-home #logo-le-pere-brouette {
    max-width: 409px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .projets-home-page {
    padding: 0px;
    margin-left: 0px;
  }
}
