<div class="navbar-myportfolio">
    <div class="square-logo">
      <%= link_to "NB", root_path, class: "home-link"  %>
    </div>
    <div class="menu">
      <div class="item-1">
        <%= link_to "Home", root_path  %>
      </div>
      <div class="item-2">
        <%= link_to "Projects" , projects_path  %>
      </div>
      <div class="item-3">
        <%= link_to "Contact me", contact_path  %>
      </div>
    </div>
</div>
