<div class="header-show">
  <h2 class="ml5">
  <span class="text-wrapper">
    <span class="letters letters-left">Qui-suis-je ? </span>
  </h2>
  <p class="ml5">
    <span class="letters letters-right">Un rapide aperçu de mon parcours</span>
  </span>
  </p>
<script src="//cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</div>
</div>
<div class="profil-deroule">
  <div class="parties left">
    <div class="titre-about">
      <h4>A l'origine, un business developer chevronné !</h4>
      <div class="line"></div>
    </div>
    <div class="contenu-about">
      <p> J'ai été diplômé de Grenoble Ecole de Management en 2015, du parcours Grande Ecole (BAC+5). Après avoir fait du marketing et de la gestion de projet
      pendant une année en césure, j'ai choisi de partir assouvir une de mes passions: le ski. J'ai donc été commercial pour la station de Tignes. Après cette
      belle expérience, je suis parti découvrir l'Amérique du Sud au cours d'un voyage de 4 mois qui m'a amené à découvrir de nombreux
      pays. J'ai ensuite rejoint Mon Docteur, devenu Doctolib par la suite, en tant que Business Developer.</p>
    </div>
  </div>
  <div class="parties right">
    <div class="titre-about">
      <div class="line"></div>
      <h4>Une réorientation réussie</h4>
    </div>
    <div class="contenu-about">
      <p>Après près de 3 ans d'expériences diverses comme Sales pour du conseil, du tourisme puis un logiciel SAAS, j'ai choisi de me réorienter
      car je considérais avoir fait le tour du métier. Ayant toujours été attiré par le milieu de la Tech, j'ai choisi de faire le Wagon à Lyon. Le Wagon est un bootcamp
      pour devenir Web Developer Fullstack. Après 2 mois de cours intensif sur Ruby, Rails, JavaScript, HTML/CSS et bien d'autres, ça a été comme une révélation.
      </p>
    </div>
  </div>
  <div class="parties left">
    <div class="titre-about">
      <h4>Aujourd'hui, le Freelance !</h4>
      <div class="line"></div>
    </div>
    <div class="contenu-about">
      <p>La suite logique pour continuer à coder a été de me lancer en freelance. Je souhaitais créer des projets web dans leur ensemble, de leur réflexion stratégique
        originelle à leur conception. Mon objectif était de monter en compétences rapidement sur les langages Web. Je suis aujourd'hui capable de développer des
        sites dans leur ensemble, rapidement, et parfaitement adapté à vos demandes.</p>
    </div>
  </div>
  <div class="parties right">
    <div class="titre-about">
      <div class="line"></div>
      <h4>Et demain ?</h4>
    </div>
    <div class="contenu-about">
      <p>J'ai créé ce portfolio pour montrer mes compếtences au monde entier. Je suis aujourd'hui à la recherche de projets à développer, que ce soient
        des sites vitrines ou e-commerce; mais je suis aussi à l'écoute du marché pour gagner en expérience sur des postes Tech. </p>
    </div>
  </div>
  <div class="parties left">
    <div class="titre-about">
      <h4>La vraie vie</h4>
      <div class="line"></div>
    </div>
    <div class="contenu-about">
      <p>Côté perso, j'habite à Lyon depuis 3 ans.  Je suis passioné de sport, sujet sur lequel je m'informe quotidiennement. Je pratique régulièrement du football, du tennis
      et de la course à pied. Je suis aussi un grand amateur de ski, d'où le choix de vivre pas trop loin des montagnes. J'aime beaucoup la cuisine, hobbie auquel je m'adonne
      très souvent (pour le meilleur et pour le pire !). J'ai profité de mes nombreux voyages pour élargir ma palette culinaire. Je suis également un grand passionné de musique.
       J'en écoute énormément au quotidien, et j'adore regarder des documentaires sur des artistes. Enfin, je suis un lecteur très assidu.   </p>
    </div>
  </div>
</div>

