<div class="header-show">
<h2>A propos de moi</h2>
<p>Un rapide aperçu de mon parcours</p>
</div>
</div>
<div class="profil-deroule">
  <div class="parties left">
    <h4>Au début...</h4>
    <p> J'ai été diplômé de Grenoble Ecole de Management en 2015, du parcours Grande Ecole (BAC+5). Après avoir fait du marketing et de la gestion de projet
    pendant une année en césure, j'ai choisi de partir assouvir une de mes passions: le ski. J'ai donc été commercial pour la station de Tignes de Novembre 2016
    à Juillet 2017. Après cette belle expérience, je suis parti découvrir l'Amérique du Sud au cours d'un voyage de 4 mois qui m'a amené à découvrir de nombreux
    pays. J'ai ensuite rejoint Mon Docteur, devenu Doctolib par la suite, en tant que Business Developer, en juin 2018 pour lesquels je suis resté plus d'un an et demi jusqu'en décembre 2019. </p>
  </div>
  <div class="parties right">
    <h4>Des origines business et sales</h4>
    <p>En novembre 2019, et après près de 3 ans d'expériences diverses comme Sales pour du conseil, du tourisme puis un logiciel SAAS, j'ai choisi de me réorienter
    car je considérais avoir fait le tour du métier. Ayant toujours été attiré par le milieu de la Tech, j'ai choisi de faire le Wagon à Lyon. Le Wagon est un bootcamp
    pour devenir Web Developer Fullstack. Après 2 mois de cours intensif sur Ruby, Rails, JavaScript, HTML/CSS et bien d'autres, le confinement est apparu
    et a retardé mes plans de reconversion.  </p>
  </div>
  <div class="parties left">
    <h4>Le Freelance</h4>
    <p>J'ai profité du confinement pour continuer à me former sur différents langages. Après avoir continué à expérimenter sur Rails, notamment en continuant
    le projet <%= link_to "Foodies", project_path(1), class: "link bold" %>, j'ai choisi d'apprendre React.JS et Redux. Après avoir fait quelques sites pour m'entraîner,
      dont une copie de Giphy, j'ai décidé de monter un projet de site d'agrégateur de vidéos, <%= link_to "Vidag", project_path(2) class: "link bold" %>. </p>
  </div>
  <div class="parties right">
    <h4>Des origines business et sales</h4>
    <p> Hello World </p>
  </div>

</div>

