<div class="header-align-center">
  <h1 class="title-center">
    Junior Web Developer
  </h1>
  <h4 class="description-center">
    Hi ! I'm Nicolas, a freelance web developer.
    <br>
     A 3 year experienced business developer who wanted to explore the tech industry.
  </h4>
</div>
