<div class="header-align-center">
  <h1 class="title-center">
    Junior Web Developer
  </h1>
  <h4 class="description-center">
    Hi ! I'm Nicolas, a freelance web developer.
    <br>
     A 3 year experienced business developer who wanted to explore the tech industry.
  </h4>
</div>

<div class="avantages">

  <div class="avantage">
    <img src="https://www.flaticon.com/svg/static/icons/svg/2462/2462975.svg" alt="browser friendly websites">
    <h5>Développement Front-end & Back-end</h5>
    <p>Un site responsif, qu'il soit vitrine ou e-commerce, avec une interface utilisateur au top pour atteindre vos objectifs.</p>
  </div>

  <div class="avantage">
    <img src="https://www.flaticon.com/svg/static/icons/svg/1737/1737585.svg" alt="performance and SEO optimization">
    <h5>Performance & SEO</h5>
    <p>Un site parfaitement optimisé, facile à trouver sur les moteurs de recherche.</p>
  </div>

  <div class="avantage">
    <img src="https://www.flaticon.com/svg/static/icons/svg/2519/2519443.svg" alt="innovative technologies">
    <h5>Technologies innovantes</h5>
    <p>Je continue à me former quotidiennement sur de nouveaux langages afin de pouvoir proposer des sites avec le meilleur des technologies actuelles.</p>
  </div>

</div>
</div>
<hr>
