<h1>My projects</h1>
<div class="projects-index">
  <% @projects.each do |project| %>
  <%= link_to project.title, project_path(project) %>
  <% project.photos.attached? %>
      <% project.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <% end %>
</div>
