<h2><%= @project.title %></h2>
<p><%= @project.description %></p>
<%= link_to 'Retour aux projets', projects_path %>
<%= cl_image_tag("https://res.cloudinary.com/duw19l0ns/image/upload/v1583178061/gHAdqx44jaPxsWZtwfx78bqa.jpg", width: 400, height: 300, crop: :fill) %>