.footer-bar {
  height: 10px;
  background-color: #12100e;
  max-width: 100%;
}

.footer {
  background-color: #6b654b;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  width: 100%;
  position: sticky;
}

.footer h1 {
  color: blue;
}

.profile {
  margin-top: 50px;
  margin-left: 100px;
  position: relative;
  display: grid;
  grid-template-columns: 30% 70%;
  font-family: 'Lato', sans-serif;

}

.profile img {
  max-width: 125px;
  max-height: 125px;
}

.profile-name {
  grid-column-start: 1;
  grid-column-end: end;
}

.profile-description {
  padding: 1rem;
  text-align: justify;
}

.social-networks {
  text-align: center;
  padding: 5rem;
}

.footer-link {
  padding-top: 10px;
  justify-content: left;
}

.footer-link a {
  text-decoration: none;
  margin-bottom: 0px;
  border-bottom: 1px solid #b7d1da;
}

.footer-link a:hover {
  border-bottom: none;
}

.footer-link p {
  margin-top: 1px;
  font-style: italic;
}

.social-networks a:hover {
  color: #b7d1da;
}


@media screen and (max-width: 768px) {
  .profile {
    margin-top: 0px;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
  }

  .footer {
    display: block;
  }

  .profile img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .social-networks {
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 0px;
  }

  .navigator {
    display: none;
  }
}
