.contact_form .field {
  margin-bottom: 20px;
  width: 100%;
}

.contact_form .field input {
  width: 100%;
  border-width: 1px;
}

.contact_form .field textarea {
  width: 100%;
  border-width: 1px;
}

.contact_form input[type="submit"]{
  max-width: 259px;
  max-height: 50px;
  background-color: #f2c14e;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
}

.contact_form input[value="Envoyer votre message"] {
  color: white;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Merriweather', serif;
}

.contact_form input[type="submit"]:hover {
  transition-duration: 0.5s;
  background-color: #e2aa50;
}
