.contact_form .field {
  margin-bottom: 20px;
  width: 100%;
}

.contact_form .field input {
  width: 100%;
  border-width: 1px;
}

.contact_form .field textarea {
  width: 100%;
  border-width: 1px;
}

.contact_form input[type="submit"]{
  max-width: 259px;
  max-height: 50px;
  background-color: #f2c14e;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.contact_form input[value="Envoyer votre message"] {
  color: white;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Merriweather', serif;
}

.contact_form input[type="submit"]:hover {
  transition-duration: 0.5s;
  background-color: #e2aa50;
}

@media screen and (max-width: 768px) {
  .contact_form input[type="submit"] {
    margin-left: 25%;
    margin-right: 20%;
  }

  .contact_form input[type="submit"]:hover {
  transition-duration: 0.5s;
  background-color: #e2aa50;
}
}
