.navbar-myportfolio {
  position: absolute;
  top: 20px;
  width: 98%;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Lato', sans-serif;
  color: #e2aa50;
}

.header-smart-nav {
  display: none;
  border-bottom: 1px solid #F3F3F3;
}

.visible {
  display: block;
}

.header-smart-nav .social-networks {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.header-smart-nav .social-networks a:hover {
  color: #b7d1da;
}

.header-smart-nav .social-networks .linkedin {
  margin-right: 20px;
}

.navbar-toggle {
  cursor: pointer;
  font-size: 24px;
  visibility: hidden;
}

.navbar-myportfolio {
  font-size: 20px;
}

.navbar-myportfolio a {
  color: #e2aa50;
  font-weight: bold;
}

.navbar-myportfolio .navbar-collapse {
  flex-grow: 0;
}

.navbar-myportfolio .navbar-brand img {
  width: 40px;
}

.square-logo {
  justify-self: start;
  display: flex;
  width: 50px;
  height: 50px;
  border: 3px solid #e2aa50;
  justify-content: center;
  align-items: center;
}

.square-logo:hover {
  transform: rotate(360deg);
  transition: all 0.8s ease-in-out 0s;
}

.square-logo .home-link {
  color: #e2aa50;
  text-decoration: none;
}

.square-logo .home-link:hover {
  text-decoration: none;
}

nav {
  margin: -13px;
  justify-self: end;
}

nav ul {
  display: flex;
  margin: auto;
}

nav a {
  color: black;
  text-decoration: none;
}

.activated {
  background-color: #F9F9F9;
}

.active-navbar {
  display: block;
  height: 100vh;
  width: 250px;
  background-color: #F9F9F9;
  padding-top: 20px;
}

.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

nav ul li {
  margin-bottom: 10px;
}

.active-navbar a:hover {
  color: #b7d1da;
  font-weight: bold;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.disappear {
  display: none;
}

nav ul li {
  margin-left: 20px;
  list-style-type: none;
}

nav ul li:hover {
  font-weight: bold;
}

@media screen and (max-width: 768px) {

   .navbar-toggle {
    visibility: visible;
  }


  .navbar-myportfolio {
    z-index: 1;
  }

  nav ul {
    display: none;
    list-style-type: none;
  }

  nav {
    margin: 13px;
  }
}
