.navbar-myportfolio {
  justify-content: space-between;
  background: white;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
}

.navbar-myportfolio {
  font-size: 20px;
}

.navbar-myportfolio .navbar-collapse {
  flex-grow: 0;
}

.navbar-myportfolio .navbar-brand img {
  width: 40px;
}

.square-logo {
  display: flex;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}

.square-logo .home-link {
  color: black;
  text-decoration: none;
}

.square-logo .home-link:hover {
  text-decoration: none;
}

nav {
  margin-top: -20px;
  position: sticky;
  margin-right: 300px;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav a {
  color: black;
  text-decoration: none;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

nav ul li {
  margin-left: 20px;
  list-style-type: none;
}

