<div class="header-show">
  <h2 class="ml5">
  <span class="text-wrapper">
    <span class="letters letters-left">Restons en contact</span>
  </h2>
  <p class="ml5">
    <span class="letters letters-right">N'hésitez pas à m'envoyer un message concernant votre projet et je reviendrai vers vous dès que possible.</span>
  </span>
  </p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</div>

<div class="contact-area">
  <% if flash[:notice] %>
    <%= window.alert("Hello") %>
  <% end %>

  <%= render '/shared/contact.html.erb' %>
</div>

