<head>
  <title>Nicolas Bouygues | Restons en contact</title>
  <meta name="description" content="Renseignez vos informations et restons en contact">
</head>

<body>
  <div class="header-show">
  <h2 class="ml5">
  <span class="text-wrapper">
    <span class="letters letters-left">Restons en contact</span>
  </h2>
  <p class="ml5">
    <span class="letters letters-right">N'hésitez pas à m'envoyer un message concernant votre projet et je reviendrai vers vous dès que possible.</span>
  </span>
  </p>
<script src="//cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</div>


<% if flash[:notice] %>
    <div class="success-notice"></div>
    <%= render '/shared/contact.html.erb' %>
    <% else %>
    <div class="failure-notice"></div>
    <%= render '/shared/contact.html.erb' %>
<% end %>
</body>





