// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";



// Your CSS partials
@import "components/index";
@import "pages/index";
@import "./pages/projects/show";

a {
  color: black;
  text-decoration: none;
}

.container {
  width: 1080px;
  background-color: white;
  margin: auto;
}

p, a{
  font-family: 'Merriweather', serif;
}

.body {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.bouton-classic {
  max-width: 259px;
  max-height: 50px;
  background-color: #f2c14e;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.bouton-classic a {
  color: white;
  font-weight: 700;
  font-size: 25px;
}

.bouton-classic:hover {
  transition-duration: 0.5s;
  background-color: #e2aa50;
}

textarea {
  width: 300px;
  height: 150px;
}
